/* slider */
.slider {
  height: 100vh;
  margin-top: -65px;
  position: relative;
}

.slider .list .item {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}
.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.3;
}

.slider .list .item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #000 4%, transparent);
}

.slider .list .item .content {
  position: absolute;
  margin-bottom: 5px;
  left: 10%;
  top: 20%;
  width: 800px;
  max-width: 90%;
  z-index: 1;
  /* padding-bottom: 0.9rem; */
}


/* text */

.slider .list .item .content p:nth-child(1) {
  text-transform: uppercase;
  letter-spacing: 10px;
}

p:nth-child(1) {
  font-family: luminari;
}



.slider .list .item .content h2 {
  font-size: 100px;
  margin: 0;
  color: #eee;
  font-family: luminari;
}



.slider .list .item .content p:nth-child(3) {
  color: green;
  font-size: 24px;
}


.slider .list .item.active {
  opacity: 1;
  z-index: 10;
}



@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3) {
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.7s 0.1s ease-in-out 1 forwards;
}

.slider .list .item.active h2 {
  animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3) {
  animation-duration: 1.3s;
}

.arrows {
  position: absolute;
  top: 90%;
  right: 50px;
  z-index: 100;
}

.arrows button {
  background-color: white;
  border: none;
  font-family: monospace;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  font-size: x-large;
  color: black;
  transition: 0.5s;
}

.arrows button:hover {
  background-color: black;
  color: #eee;
}

.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 40px;
  z-index: 11;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 90%;
  height: 250px;
  padding: 0 10px;
  box-sizing: border-box;
  overflow-x: scroll;
  justify-content: center;
  align-items: center;
}

.thumbnail::-webkit-scrollbar {
  width: 0;
}

.thumbnail .item {
  width: 180px;
  height: 200px;
  filter: brightness(0.5);
  transition: 0.5s;
  flex-shrink: 0;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.thumbnail .item.active {
  filter: brightness(1);
}

.thumbnail .item .content {
  position: absolute;
  inset: auto 10px 10px 10px;
  color: black;
  background-color: white;
  font-family: luminari;
}

@media screen and (max-width: 500px) {
  .thumbnail {
    left: 9px;
    bottom: 15px;
    z-index: 11;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    width: 100%;
    height: 300px;
    margin: 5px 0px;
    padding: 0px 50px;
    box-sizing: border-box;
    overflow: auto;
    align-items: center;
    justify-content: center;
  }

  .thumbnail .item {
    width: 130px;
    height: 140px;
    filter: brightness(0.5);
    transition: 0.5s;
    flex-shrink: 0;
  }

  .slider {
    height: 100vh;
    margin-top: -25px;
    position: relative;
  }
  .slider .list .item .content {
    margin-bottom: 5px;
    left: 10%;
    top: 15%;
    width: 500px;
    max-width: 85%;
  }

  .slider .list .item img {
    width: 120%;
    height: 70%;
    object-position: 10%;
    opacity: 0.3;
  }

  /* .slider .list .item .content h2,
  #projectTitle {
    font-size: 2.8rem;
    top: 40px;
  } */

  .thumbnail .item .content {
    font-size: 12px;
    color: white;
    background-color: black;
  }
  .arrows {
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 50;
  }

  .arrows button {
    background-color: white;
    border: none;
    font-family: monospace;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    font-size: x-large;
    color: black;
    transition: 0.5s;
  }

}


@media screen and (max-width: 900px) {

  /* .slider .list .item .content p:nth-child(1)
  #projectTitle {
    font-size: 19px;
    top: 40px;
  } */


  /* .slider .list .item .content p {
    color: green;
    font-size: 15px;
  } */

  .slider .list .item .content h2 {
    font-size: 24px;
    margin: 0;
    /* color: #eee;    */
    color:brown;

    font-family: luminari;
  }

  .slider .list .item .content p:nth-child(3) {
    color:lawngreen;
    font-size: 15px;
  }

}



@media screen and (min-width: 1400) {

  #projectTitle {
    font-size: 85px;
  }
  .arrows {
    top: 20%;
    right: 50px;
    z-index: 100;
  }

}
@media (min-width: 1920px){
  .slider .list .item .content p {
    font-size: 45px;
  }

  .slider .list .item .content {
    left: 5%;
    top: 20%;
    width: 900px;
    max-width: 100%;
    z-index: 1;
    padding-bottom: 0.9rem;
  }
}
