
   
.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(249, 248, 248, 0.2) 0px 0.15rem 1.2rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  transition: all 500ms;
  padding: 0 1.3rem;
  margin-top: 0.9rem;
  transform: scale(0.98);
  transition: all 0.7s ease;
  /* background-color: green; */
}

.image img {
  height: 100%;
  width: 100%;
  object-fit:contain;
  transition: 0.4s linear;
}

.image:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
  color: yellow;
}

@media screen and (min-width: 1280px) {
  .image {
    transform: scale(1.0);
  }

  .image:hover {
    transform: translateX(-3px) scale(1.05);
  }
}

@media screen and (max-width: 300px) {
  .image {
    transform: scale(0.38);
  }

  .image:hover {
    transform: translateY(-3px) scale(1);
  }
}
