.title-background {
  background-image: url("/images/end.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: black;
  width: 100%;
  height: 100vh;
  background-position: 100% 85%;
}


@media screen and (max-width: 678px) {


  .title-background {
    width: 100%;
    height: 100vh;
    background-position: 83% 85%;
  }

}


