:root {
  --header: 66px;
  --small-header: 44px;
  --footer: 50px;
  --main: calc(100vh - calc(var(--header) + var(--footer)));

  --color-light-white: #f9f5f5;
  --color-white: #ffffff;
  --color-light-black: #232323;
  --color-black: #010101;
  --color-grey: #bababaad;
  --color-red: #ff0606ad;
  --background-gradient: linear-gradient(0.25turn, #4f3fa6, #000000, #f63cf6);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: luminari;
  src: url("/fonts/Luminari-Regular.ttf");
}

/* NavBar */

#header {
  height: var(--header);
  background: var(--color-light-white);
  width: 100%;
  /* position: absolute; */
  top: 90px;
  padding: 0 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.nav-logo {
  color: var(--color-black);
  font-weight: 500;
  text-decoration: none;
  font-family: luminari;
}

.nav-menu {
  position: relative;
  /* padding-right: 10rem; */
}

.nav-menu li {
  position: relative;
  list-style: none;
  float: left;
  font-family: luminari;
}

.nav-menu a {
  color: var(--color-light-black);
  font-size: 1.1rem;
  padding: 20px 25px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

/* Underline animation for links */

.nav-menu .nav-link::after {
  content: "";
  position: absolute;
  height: 2px;
  display: block;
  bottom: 14px;
  left: 20px;
  opacity: 0;
  width: 0;
  /* background-color: var(--color-black); */
  background: var(--background-gradient);
  transition: all 0.5s ease-in-out;
  pointer-events: none;
}

.nav-menu .nav-link:hover:after,
.nav-menu .nav-link:focus::after {
  opacity: 1;
  width: 70%;
}

.dropdown {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: var(--color-black);
  display: none;
}

.nav-menu li:hover .dropdown {
  display: block;
}

.dropdown a {
  color: var(--color-light-white);
}

.nav-menu li .dropdown li {
  position: relative;
  width: 100%;
  border: 1px solid var(--color-red);
}

/* Footer */

#footer {
  height: var(--footer);
  background: var(--color-light-black);
  /* border: 1px solid var(--color-red); */
}

@media screen and (max-width: 900px) {
  .nav-logo {
    position: absolute;
    left: 0.5rem;
    font-size: 1rem;
    top: 0.4rem;
  }

  .nav-title {
    padding-right: 5rem;
    position: absolute;
    left: 0.5rem;
    top: 1.8rem;
  }

  .nav-menu .nav-link::after {
    display: none;
  }

  #header {
    /* height: var(--small-header); */
    padding: 10px 20px;
    /* background-color: green; */
  }
  /* #header .nav-menu{ */
  #header nav {
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 66px;
    left: 0;
    background: var(--color-white);
  }

  /* .nav-menu .nav-link{ */
  #header nav ul li {
    width: 100%;
  }

  #header nav ul li ul {
    position: relative;
    width: 100%;
    left: 0;
  }

  #header nav ul li:hover ul li {
    border: 0.1px solid var(--color-black);
    background: var(--color-grey);
  }
  /* .menu-toggle {
    position: relative;
    width: 40px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-toggle::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;

    background: var(--color-light-black);
    transform: translateY(-12px);
    box-shadow: 0 12px var(--color-light-black);
  }

  .menu-toggle::after{
    content: '';
    position: absolute;
    right: 30;
    width: 100%;
    height: 3px;
    background: var(--color-light-black);
    transform: translateY(12px);
  } */


}

/* @media screen and (min-width: 1400px) {
  .nav-logo {
    font-size: 1.75rem;
    padding-left: 2rem;
  }

  .nav-title {
    padding-right: 10rem;
  }
}

@media screen and (min-width: 1900px) {
  .nav-logo {
    font-size: 1.75rem;
    padding-left: 2rem;
  }

  .nav-title {
    padding-right: 70rem;
  }
} */
