:root {
  --header: 66px;
  --small-header: 44px;
  --footer: 50px;
  --main: calc(100vh - calc(var(--header) + var(--footer)));

  --color-light-white: #f9f5f5;
  --color-white: #ffffff;
  --color-light-black: #232323;
  --color-black: #010101;
  --color-grey: #bababaad;
  --color-red: #ff0606ad;
  --background-gradient: linear-gradient(0.25turn, #4f3fa6, #000000, #f63cf6);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: luminari;
  src: url("/fonts/Luminari-Regular.ttf");
}

/* NavBar */

#header {
  height: var(--header);
  background: var(--color-light-white);
  width: 100%;
  /* position: absolute; */
  top: 90px;
  padding: 0 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.nav-logo {
  color: var(--color-black);
  font-weight: 500;
  text-decoration: none;
  font-family: luminari;
}

.nav-menu {
  position: relative;
  /* padding-right: 10rem; */
}

.nav-menu li {
  position: relative;
  list-style: none;
  float: left;
  font-family: luminari;
}

.nav-menu a {
  color: var(--color-light-black);
  font-size: 1.1rem;
  padding: 20px 25px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

/* Underline animation for links */

.nav-menu .nav-link::after {
  content: "";
  position: absolute;
  height: 2px;
  display: block;
  bottom: 14px;
  left: 20px;
  opacity: 0;
  width: 0;
  /* background-color: var(--color-black); */
  background: var(--background-gradient);
  transition: all 0.5s ease-in-out;
  pointer-events: none;
}

.nav-menu .nav-link:hover:after,
.nav-menu .nav-link:focus::after {
  opacity: 1;
  width: 70%;
}

.dropdown {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: var(--color-black);
  display: none;
  z-index: 100;
}

.nav-menu li:hover .dropdown {
  display: block;
}

.dropdown a {
  color: var(--color-light-white);
}

.nav-menu li .dropdown li {
  position: relative;
  width: 100%;
  border: 1px solid var(--color-red);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.hamburger {
  display: none;
}

/* Footer */
#footer {
  height: var(--footer);
  background: var(--color-light-white);
  /* border: 1px solid var(--color-red); */
}

@media screen and (max-width: 678px) {
  .nav-logo {
    position: absolute;
    left: 0.5rem;
    font-size: 1rem;
    top: 0.4rem;
  }

  .nav-title {
    padding-right: 5rem;
    position: absolute;
    left: 0.5rem;
    top: 1.8rem;
  }

  /* stop animation for underline */
  .nav-menu .nav-link::after {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #header {
    padding: 10px 20px;
    position: static;
  }

  #header nav ul li ul {
    position: relative;
    width: 100%;
  }

  /* box parent for links for pages */
  #header .nav-menu li {
    width: 100%;
    position: relative;
    margin: 5px 0;
    line-height: 15px;
    display: flex;
    justify-content: center;
    border: none;
  }

  /* link for pages */
  #header .nav-menu li a {
    color: var(--color-white);
    font-size: 1.1rem;
  }

  /*.nav-menu{ */
  #header nav {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: var(--main);
    top: 66px;
    left: -100%;
    background: var(--color-black);
    transition: all 0.3s ease-in-out;
  }

  #header .nav-menu ul li a {
    position: relative;
    width: 100%;
    background-color: var(--color-light-black);
  }

  #header nav.active {
    left: 0;
  }

  #header .nav-menu b {
    font-size: 0.9rem;
    font-weight: 100;
  }
}

@media screen and (min-width: 1400px) {
  .nav-logo {
    font-size: 1.75rem;
    padding-left: 2rem;
  }

  .nav-title {
    padding-right: 10rem;
  }
}

@media screen and (min-width: 1920px) {
  .nav-logo {
    font-size: 1.75rem;
    padding-left: 1.4rem;
  }

  .nav-title {
    padding-right: 30rem;
  }
}


@media screen and (min-width: 2000px) {
  .nav-logo {
    font-size: 2.75rem;
    padding-left: 2rem;
  }

  .nav-title {
    padding-right: 70rem;
  }
}
