@font-face {
  font-family: luminari;
  src: url(fonts/Luminari-Regular.ttf);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Hedvig", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  position: relative;
  width: 100%;
  min-height: 66px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.6),
    rgba(0, 0, 0, 0.3)
  );
  padding: 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  z-index: 100;
}

.nav-logo {
  color: #000;
  font-family: luminari;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.6s;
}

.nav-logo span {
  color: #000;
  font-size: 2rem;
  font-weight: 100;
  font-family: luminari;
  letter-spacing: 2px;
  transition: 0.6s;
}

.nav-menu {
  position: relative;
  padding-left: 4.9rem;
  margin: 0;
}

.nav-item {
  position: relative;
  float: left;
}

header .nav-menu .nav-item a {
  color: #000;
  font-size: 1.2rem;
  font-family: luminari;
  text-transform: uppercase;
  font-weight: 200;
  padding: 20px 25px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

header .nav-menu .nav-item a b {
  font-size: 1.1rem;
}

.nav-dropdown {
  position: absolute;
  left: 0;
  width: 200px;
  background: #fff;
  display: none;
}

header ul li:hover ul {
  display: block;
}

header ul li ul li {
  position: relative;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

header .nav-menu .nav-item a:hover {
  background: rgba(21, 20, 20, 0.2);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

@media screen and (max-width: 678px) {
  header {
    padding: 10px 10px;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-logo {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }


  .nav-logo span {
    color: #000;
    font-weight: 100;
    font-size: 1.1rem;
    letter-spacing: 1px;
  }

  header .nav-menu .nav-item a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 200;
    padding: 30px 25px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
  }

  .nav-menu {
    position: absolute;
    left: -100%;
    top: 66px;
    background: #000;
    width: 100%;
    font-size: 1.5rem;
    /* height: 100%; */
    height: 95vh;
    transition: all 0.3s ease-in-out;
    z-index: 100;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    width: 100%;
    margin: 40px 0;
    padding-right: 60px;
  }

  header .nav-menu .nav-item a b {
    font-size: 1.2rem;
    font-weight: 200;
  }

  .nav-item a {
    align-items: center;
    justify-content: center;
  }

  header .nav-menu .nav-dropdown {
    display: none;
    position: relative;
    left: 0;
    width: 100%;
    background-color: rgba(21, 20, 20, 0.2);
  }

  header .nav-menu .nav-dropdown a {
    font-size: 0.9rem;
  }

  header .nav-menu .nav-dropdown:hover {
    background: rgba(21, 20, 20, 0.2);
  }

  header nav ul li {
    width: 100%;
  }

  header ul li a b {
    font-size: 0.9rem;
    font-weight: 200;
  }

  header .nav-menu .nav-item a {
    align-items: center;
    justify-content: center;
  }

  /* .title-background {
    width: 100%;
    height: 90%;
    height: 100vh;
    background-position: 83% 85%;
  } */
}

@media screen and (min-width: 1400px) {
  .nav-logo {
    color: #000;
    font-weight: 300;
    font-size: 1.9rem;
    padding-right: 7rem;
    margin-right: 1.9rem;
  }
  
  .nav-logo span {
    font-size: 0.9rem;
    font-family: luminari;
  }  
}

@media screen and (min-width: 1900px) {
  .nav-logo {
    font-weight: 300;
    font-size: 2.9rem;
    padding-right: 7rem;
    letter-spacing: 2px;
    transition: 0.6s;
  }
  
  .nav-logo span {
    font-weight: 100;
    font-size: 2.1rem;
    letter-spacing: 2px;
    transition: 0.6s;
  }

}