.title-background {
  background-image: url("/images/title/end.webp");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -100;
  width: 100%;
  height: var(--main);
  background-position: 190% -20%;
}

.mobile-background {
  display: none;
}

@media screen and (max-width: 900px) {
  .mobile-background {
    display: flex;
    background-image: url("/images/title/contact.webp");
    background-size: 240%;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: var(--main);
    background-position: center;
  }

  .title-background {
    display: none;
  }
}
