.title-background {
  background-image: url("/images/title.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: black;
  width: 100%;
  height: 90vh;
  background-position: 100% 85%;
}

@media screen and (max-width: 678px) {
  .title-background {
    background-image: url("/images/title.jpg");
    background-size: 190%;
    background-repeat: no-repeat;
    /* position: relative; */
    background-color: white;
    width: 100%;
    height: 100%;
    height: 100vh;
    background-position: 85%;
  }
}
