.about {
  height: 40vh;
  position: relative;
}

.background-img {
  background-image: url("/titleBubbleSpeech.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 95vh;
  background-position: 100% 100%;
}

.text-box1 {
  /* background-color: rgba(255, 255, 255, 0.9); */
  border-radius: 5px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); */
}

.text-box2 {
  /* background-color: rgba(255, 255, 255, 0.9); */
  border-radius: 5px;
  margin-bottom: 20px; /* Decreased margin to move closer to the bottom */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); */
  padding: 4px;
}

.about .hero-text {
  position: absolute;
  left: 5%;
  top: 10%;
  width: 900px;
  z-index: 1;
}

.about .hero-text p {
  font-size: 20px;
  width: 550px;
}

.about .hero-text h1 {
  font-size: 110px;
  margin: 0;
  color: #b8b7b7;
  font-family: luminari;
  text-transform: uppercase;
}

@keyframes fade-up {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

p {
  width: 1rem;
  text-align: justify;
  /* text-align-last: justify; */
}

.about .hero-text p,
.text-box1,
.text-box2,
.about .hero-text h1 {
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: fade-up 0.9s 0.3s ease-in-out 1 forwards;
}

.about .hero-text p {
  animation-delay: 1.3s;
}

@media screen and (min-width: 350px) {
  .text-box1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .text-box2{
    background-color: rgba(255, 255, 255, 0.7.8);
    padding: 2px;
  }

  .about .hero-text {
    margin-top: 10px;
    max-width: 60%;
  }

  .about .hero-text h1 {
    font-size: 34px;
  }

  .about .hero-text p {
    margin-top: 5px;
    width: 70%;
    font-size: 11px;
  }
}

@media screen and (max-width: 678px) {
  .background-img {
    background-size: 90%;
    background-position: 95% 90%;
    height: calc(95vh - 20px);
    width: 100%;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1440px) {
  .about .hero-text p {
    font-size: 20px;
    width: 80%;
  }

  .about .hero-text h1 {
    font-size: 110px;
  }
  .background-img {
    height: 90vh;
  }
}

@media screen and (min-width: 1920px) {

  .background-img {
    background-image: url("/images/title/titleBubbleSpeech.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 93vh;
    background-position: 100% 100%;
  }


  /* .text-box2 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 8px;
  } */

  .about .hero-text {
    position: absolute;
    left: 5%;
    top: 40%;
    /* width: 1000px; */
    z-index: 1;
  }

  .about .hero-text p {
    font-size: 25px;
    width: 70%;
  }

  .about .hero-text h1 {
    font-size: 75px;
  }

}

@media screen and (min-width: 2010px) {
  .text-box2 {
    padding: 10px;
  }

  .about .hero-text {
    position: absolute;
    left: 5%;
    top: 10%;
    width: 1000px;
    z-index: 1;
  }

  .about .hero-text p {
    font-size: 32px;
    width: 100%;
  }

  .about .hero-text h1 {
    font-size: 105px;
  }
}

@media screen and (min-width: 2560px) {

}