.about {
  margin-top: -100px;
  /* height: 100vh; */
  /* height: calc(95vh - 30px); */
}

.background-img {
  background-image: url("images/title/titlePortolio.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 95vh;
  background-position: 0% 100%;
}

.about .hero-text {
  position: absolute;
  left: 5%;
  top: 10%;
  width: 700px;
  z-index: 1;
}

.about .hero-text p {
  font-size: 20px;
  width: 550px;
}

.about .hero-text h1 {
  font-size: 110px;
  margin: 0;
  color: #b8b7b7;
}

@keyframes fade-up {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

.about .hero-text p,
.about .hero-text h1 {
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: fade-up 0.9s 0.1s ease-in-out 1 forwards;
}

.about .hero-text p {
  animation-delay: 1.3s;
}

@media screen and (min-width: 350px) {
  .about .hero-text {
    margin-top: 10px;
    max-width: 80%;
  }

  .about .hero-text h1 {
    font-size: 34px;
  }

  .about .hero-text p {
    margin-top: 5px;
    width: 80%;
    font-size: 13px;
  }
}

@media screen and (max-width: 678px) {
  .background-img {
    background-size: 120%;
    background-position: 95% 70%;
    height: calc(95vh - 20px);
    /* position: fixed; */
    width: 100%;
    background-repeat: no-repeat;
  }

}

@media screen and (min-width: 1440px) {
  .about .hero-text p {
    font-size: 22px;
    width: 80%;
  }

  .about .hero-text h1 {
    font-size: 110px;
  }
  .background-img {
    height: 90vh;
  }
}

@media screen and (min-width: 1920px) {
  .about .hero-text {
    position: absolute;
    left: 5%;
    top: 10%;
    width: 900px;
    z-index: 1;
  }

  .about .hero-text p {
    font-size: 35px;
    width: 100%;
  }

  .about .hero-text h1 {
    font-size: 160px;
  }
}
